* {
    /* margin: 0; */
    padding: 0;
    font-family: sans-serif;
}
header {
    background-color: rgb(29, 168, 168);
    color: #fff;
}
.contact-details {
    text-align: right;
}
#headshot {
    /* margin: 0 auto; */
}
.page-links li{
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
}
.color-headings {
    color: rgb(29, 168, 168);
}
.page-links{
    text-align: center;
}